/* 
 * http://www.google.com/design/spec/style/color.html#color-ui-color-palette
 *
 * Primary Colors (Cyan)
 * #00bcd4;
 * #00838f;
 *
 * Accent Color (Orange)
 * #ffab40
 */
body{
  font-family: RobotoDraft, Helvetica, sans-serif;
  position: relative;
  max-width: 1000px;
  margin: auto;
}

h3{
  color: #eeeeee;
  margin: 32px 0 0 0;
  padding: 32px;
  font-size: 1.3em;
  line-height: 1.3em;
  background-color: #00bcd4;
}
h3.selected{
  background-color: #00838f;
}
.container:before .container:after{
  content:'';
  display:block;
  clear:both;
}
.container{
  box-sizing: border-box;
  border: 1px solid #00bcd4;
}
.container.textcloud{
  max-height: 30em;
  overflow-y: auto;
  margin: 0 3em 0 3em;
  padding-top: 1em;
}
.container.textcloud span.long{
  display: block;
  float: left;
  background-color: #eeeeee;
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  width: 100%;
}

.container.textcloud span.short{
  display: inline-block;
  background-color: #ffab40;
  color: #000000;
  margin: 8px 8px 0 8px;
  padding: 4px 8px 4px 8px;
  box-sizing: border-box;
}
.container.textcloud span.medium{
  display: inline-block;
  background-color: #00838f;
  color: #eeeeee;
  margin: 8px 8px 0 8px;
  padding: 4px 8px 4px 8px;
  box-sizing: border-box;
}
